:root {
    --green: #20bb00;
    --red: red;
    --barblue: #05566b;
    --barorange: #754514;
    --darkblue: #010c10;
    --blue: #31C4F3;
    --orange: #F89A2C;
    --navy: #033C54;
    --transparent: rgba(255,0,0,0);
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto' , sans-serif;
    text-transform: uppercase;
}
.container {
    height: 760px;
    width: 1720px;
    margin-top: 60px;
    margin-left: 100px;
    display: grid;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 2;
    position: relative;
}
.team {
    /*color: white;*/
    font-size: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
.square {   
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    background: gray;
    
}
.correct{
    box-shadow: 0 0 15px 10px var(--green);
}
.wrong{
    box-shadow: 0 0 15px 10px var(--red);
}
.name{
    font-weight: 700;
    text-align: center;
    color: white;
}
.darkblue{
    background: var(--darkblue)
}
.blue{
    background: var(--blue)
}
.orange{
    background: var(--orange);
}
.navy{
    background: var(--navy);
}
.parallelogram{
    font-size: 4rem;
    text-align: center;
    color: white;
    transform: skew(-20deg);
    display: grid; 
}
.team-left{
    border: 5px solid var(--blue);
    border-bottom: 7px solid var(--blue);
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}
.team-right{
    border: 5px solid var(--orange);
    border-bottom: 7px solid var(--orange);
    border-right: 6px solid var(--orange);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr; 
}
.parent{
    position: relative;
}
.centered{
    width:100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skew(20deg);
}
.number{
    font-weight: 900;
} 
.score{
    position: relative;
    z-index: 2;
    height:140px;
    width:1720px;
    margin-top:60px;
    margin-left: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.bganim{
    height: 760px;
    z-index: 1;
    position: absolute;
}
.bar {
    animation: anim 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-70deg, var(--transparent) 20%, var(--barorange) 20%, var(--barorange) 21%, var(--transparent) 21%, var(--transparent) 34%, var(--barorange) 34%, var(--barorange) 37%, var(--transparent) 37% ,var(--transparent) 45% );
    bottom:0;
    left:-50%;
    opacity:1;
    position:fixed;
    right:-50%;
    top:0;
    z-index:1;
} 
.bar2 {
    animation-direction: alternate;
    background-image: linear-gradient(-250deg, var(--transparent) 20%, var(--barblue) 20%, var(--barblue) 21%, var(--transparent) 21%, var(--transparent) 34%, var(--barblue) 34%, var(--barblue) 37%, var(--transparent) 37% ,var(--transparent) 45% );
} 
.bar3 {
    animation-duration:12s;
    z-index: -1;
    background-image: linear-gradient(-70deg, var(--barorange) 8%, var(--transparent) 8%, var(--transparent) 20%, var(--barorange) 20%, var(--barorange) 26%, var(--transparent) 26%, var(--transparent) 30%, var(--barorange) 30%, var(--barorange) 35%, var(--transparent) 35%);
    opacity: .3;
    animation-delay: -2s;
    animation-direction: alternate-reverse;   
}
.bar4{
    animation-duration:12s;
    z-index: -1;
    background-image: linear-gradient(-250deg, var(--barblue) 8%, var(--transparent) 8%, var(--transparent) 20%, var(--barblue) 20%, var(--barblue) 26%, var(--transparent) 26%, var(--transparent) 30%, var(--barblue) 30%, var(--barblue) 35%, var(--transparent) 35%);
    opacity: .3;
    animation-delay: -2s;
    animation-direction: alternate-reverse;  
}
@keyframes anim {
    0% {
      transform:translateX(-13%);
    }
    100% {
      transform:translateX(13%);
    }
  }