@font-face {
    font-family: HelveticaNeue;
    src: url("Assets for Digital/3. HSQS Assets/2. Fonts/Helvetica Neue - OTF/HelveticaNeueLTStd-BdCn.otf") ;
    font-weight: bold;
    font-stretch: condensed;
}
@font-face {
    font-family: HelveticaNeue;
    src: url("Assets for Digital/3. HSQS Assets/2. Fonts/Helvetica Neue - OTF/HelveticaNeueLTStd-HvCn.otf") ;
    font-weight: 900;
    font-stretch: condensed;
}
@font-face {
    font-family: HelveticaNeue;
    src: url("Assets for Digital/3. HSQS Assets/2. Fonts/Helvetica Neue - OTF/HelveticaNeueLTStd-MdCn.otf") ;
    font-weight: normal;
    font-stretch: condensed;
}
:root {
    --green: #20bb00;
    --red: red;
    --barblue:#172e37;
    --barorange: #34220e;
    --darkblue: #010c10;
    --barnavy: #040a0e;
    --blue: #31C4F3;
    --orange: #F89A2C;
    --navy: #033C54;
    --transparent: rgba(255,0,0,0);
}
body {
    padding: 0;
    margin: 0;
    font-family: HelveticaNeue , 'Roboto', sans-serif;
    text-transform: uppercase;
    font-stretch: condensed;
}
.container {
    height: 760px;
    width: 1720px;
    margin-top: 60px;
    margin-left: 100px;
    display: grid;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    z-index: 2;
    position: relative;
}
.team {
    /*color: white;*/
    font-size: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
.square {   
    position: relative;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    background: gray;
    
}
.correct{
    box-shadow: 0 0 15px 10px var(--green);
}
.wrong{
    box-shadow: 0 0 15px 10px var(--red);
}
.name{
    
}
.team-name{
    font-weight: normal;

}
.name-text{
    width: 100%;
    position: absolute;
    bottom: -.3rem;
    font-weight: bold;
    text-align: center;
    color: white;
}
.darkblue{
    background: var(--darkblue)
}
.blue{
    background: var(--blue)
}
.barblue{
    background: var(--barblue)
}
.orange{
    background: var(--orange);
}
.barorange{
    background: var(--barorange);
}
.navy{
    background: var(--navy);
}
.barnavy{
    background: var(--barnavy);
}

.parallelogram{
    font-size: 4rem;
    text-align: center;
    color: white;
    transform: skew(-20deg);
    display: grid; 
}
.team-left{
    border: 5px solid var(--blue);
    border-bottom: 7px solid var(--blue);
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}
.team-right{
    border: 5px solid var(--orange);
    border-bottom: 7px solid var(--orange);
    border-right: 6px solid var(--orange);
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr; 
}
.parent{
    position: relative;
}
.centered{
    width:100%;
    text-align: center;
    position: absolute;
    top: 55%;
    transform: translateY(-50%) skew(20deg);
}
.number{
    font-weight: 900;
} 
.score{
    position: relative;
    z-index: 2;
    height:140px;
    width:1720px;
    margin-top:60px;
    margin-left: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.bganim{
    height: 1080px;
    z-index: -3;
    position: absolute;
}
.bar {
    animation: anim 60s linear infinite;
    position: absolute;
    z-index:-3;
    height: 700px;
    width: 200px;
    top:1400px;
    left:-12px;
} 
.bar2 {
    animation: anim 50s linear infinite;
    height: 600px;
    width: 120px;
    left:-400px;
    animation-delay: -30s;
}
.bar3 {
    animation: anim 50s linear infinite;
    height: 400px;
    width: 180px;
    left:-600px;
    animation-delay: -40s;
}
.bar4 {
    animation: anim 40s linear infinite;
    height: 900px;
    width: 100px;
    left:0px;
    animation-delay: -60s;
}
.bar5 {
    animation: anim 40s linear infinite;
    height: 700px;
    width: 120px;
    left:120px;
    animation-delay: -5s;
}
.bar6 {
    animation: anim 60s linear infinite;
    height: 800px;
    width: 160px;
    left:240px;
    animation-delay: -40s;
}
.bar7 {
    animation: anim 45s linear infinite;
    height: 450px;
    width: 80px;
    left:700px;
    animation-delay: -10s;
}
.bar8 {
    animation: anim 45s linear infinite;
    height: 450px;
    width: 80px;
    left:-700px;
    animation-delay: -20s;
}
.bar9 {
    animation: anim 60s linear infinite;
    height: 400px;
    width: 180px;
    left:-800px;
    animation-delay: -10s;
}
.bar10 {
    animation: anim 45s linear infinite;
    height: 750px;
    width: 80px;
    left:-1600px;
    animation-delay: -40s;
}
.bar11 {
    animation: anim 50s linear infinite;
    height: 800px;
    width: 200px;
    left:200px;
    animation-delay: -100s;
}
.bar12 {
    animation: anim 60s linear infinite;
    height: 800px;
    width: 200px;
    left:-300px;
    animation-delay:-90s;
}
.bar13 {
    animation: anim 60s linear infinite;
    height: 900px;
    width: 80px;
    left:-800px;
    animation-delay:-90s;
}
.bar14 {
    animation: anim 45s linear infinite;
    height: 750px;
    width: 80px;
    left:-1600px;
    animation-delay: -70s;
}
@keyframes anim {
    0% {
      transform:translate(0px, 0px) rotate(45deg);
    }
    100% {
      transform:translate(2500px,-2500px)rotate(45deg);
    }
  }